.rodape__texto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fdfdfd;
    padding: 0.3rem 5rem;
    text-transform: lowercase;
}

@media screen and (max-width: 424px) {
    .rodape__texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.01rem 5rem;
        position: relative;
        right: 70px;
    }
}