/* style-cabeçalho

.cabecalho {
    background: url(../img/anime.back.jpg);
    position: absolute;
    height: 474px;
}

.logo {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 151px;
    margin: 10rem 0 auto;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
} 

 style-menu

.menu {
    text-align: center;
    position: relative;
    bottom: 15rem;
    left: 26.5rem;
}

.menu__item {
    font-size: 4rem;
    font-family: 'Outfit', sans-serif;
    margin: 0 10rem 0 0;
    list-style: none;
}

.menu__item:last-child a {
    margin-right: none;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.ativo {
    color: #ffffff;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__lista {
    display: flex;
}

 Roda-pé 

.rodape {
    background: #0A0A0A;
    color: #fdfdfd;
    text-align: right;
    padding: 1rem;
    text-transform: lowercase;
}
*/
